<div class="flex column">
	<div class="titlebar">
		
	</div>
	<div id="mainframe" class="mainframe flex row">
		<div class="menubar">
			<img src="assets/img/comprise_logo.png" class="comprise_img"/>
			<button routerLink="/home" class="btn menubtn btn-4 btn-sep">Overview</button>
			<button (click)="navigateDocu()" class="btn menubtn btn-4 btn-sep">Documentation App Wizard</button>
			<button (click)="navigateDocu1()" class="btn menubtn btn-4 btn-sep">Documentation Client Library</button>
			<button (click)="navigateDocu2()" class="btn menubtn btn-4 btn-sep">Documentation Personal Server</button>
			<button (click)="navigateDocu3()" class="btn menubtn btn-4 btn-sep">Documentation Sample App</button>
			<button [disabled]="(projectDataService.getProjectPath() | async) === 'none'" routerLink="/cp"   class="btn menubtn btn-4 btn-sep">Cloud Platform</button>
			<!--<button [disabled]="(projectDataService.getProjectPath() | async) === 'none'" routerLink="/stt" (click)="navigateCloudPlatform()" class="btn menubtn btn-4 btn-sep">Speech-To-Text / Text-To-Speech</button>-->
			<button [disabled]="(projectDataService.getProjectPath() | async) === 'none'" (click)="navigateSLU()" class="btn menubtn btn-4 btn-sep">Spoken Language Understanding</button>
			<button [disabled]="(projectDataService.getProjectPath() | async) === 'none'" (click)="navigateDM()"   class="btn menubtn btn-4 btn-sep">Dialog Management</button>
			<button [disabled]="(projectDataService.getProjectPath() | async) === 'none'" (click)="navigateSLG()" class="btn menubtn btn-4 btn-sep">Spoken Language Generation</button>
			<button [disabled]="(projectDataService.getProjectPath() | async) === 'none'" (click)="installDependencies()" class="btn btn-4 btn-sep">
				Install COMPRISE Client Libraries To Device
			</button>
		</div>
		<div class="routerframe">
			<router-outlet></router-outlet>
			<div id="logframe" class="logframe">
		
			</div>
		</div>
	</div>
</div>