:host {
	.titlebar {
		height: 5vh; 
		background: #1691a0;
		-webkit-app-region: drag;
	}
	
	.mainframe {
		height: 95vh;
	}

	.menubar {
		background: #19A5B6;
		height: 100%;
		width: 15vw;
	}

	.routerframe {
		width: 85vw;
	}
	
	.comprise_img {
		width: 13vw;
		height: 13vw;
		overflow: hidden;
		margin: 1vh 1vw;
		background-color: white;
	}
	
	.logframe {
		background: black;
		height: 28vh;
		overflow-y: auto;
		padding: 1vh 3vw;
	}
	
}