<div class="page">
	<div class="flex row center_vertical start_horizontal">
		<button (click)="chooseProjectPath()" class="btn btn-4 btn-sep">Load COMPRISE Project</button>
	</div>
	<div class="flex row center_vertical start_horizontal">
		<h4 class="m-1 headerwidth">Current COMPRISE Project Name:</h4>
		<p class="m-1">{{ projectDataService.getProjectName() | async }}</p>
	</div>
	<div class="flex row center_vertical start_horizontal">
		<h4 class="m-1 headerwidth">Current COMPRISE Project path:</h4>
		<p class="m-1">{{ projectDataService.getProjectPath() | async }}</p>
	</div>
	
	<div class="flex row center_vertical start_horizontal">
		<h4 class="m-1 headerwidth">Current COMPRISE Project description:</h4>
		<p style="width: 54%;" class="m-1">{{ projectDataService.getProjectDescription() | async }}</p>
	</div>
	<!--
	<div class="flex row center_vertical start_horizontal">
		<h4 class="m-1 headerwidth">Current Spoken Language Understanding App ID:</h4>
		<p class="m-1">{{ projectDataService.getCloudPlatfromAppID() | async }}</p>
	</div>
	<div class="flex row center_vertical start_horizontal">
		<h4 class="m-1 headerwidth">Current Dialog Management App ID:</h4>
		<p class="m-1">{{ projectDataService.getDialogManagementBotID() | async }}</p>
	</div>
	<div class="flex row center_vertical start_horizontal">
		<h4 class="m-1 headerwidth">Current Pivot Language:</h4>
		<p class="m-1">{{ projectDataService.getCloudPlatfromLanguage() | async }}</p>
	</div>
	-->
	<div class="flex row center_vertical start_horizontal">
		<h4 class="m-1 headerwidth">Personalized Server URL</h4>
		<input class="m-1" [(ngModel)]="projectDataService.personalizedServerURL" (change)="loadModelTypes(projectDataService.personalizedServerURL)" type="text" /><p class="m-1"></p>
	</div>
	
	<div style="align-items: baseline;" class="flex row center_vertical start_horizontal">
		<h4 class="m-1 headerwidth">Speech-To-Text Models</h4>
		<p class="m-1" style="color: grey;" *ngIf="(projectDataService.getSttModels() | async).length == 0">Insert Server URL first</p>
  	
		<div *ngIf="(projectDataService.getSttModels() | async).length !== 0">
			<div *ngFor="let model of (projectDataService.getSttModels() | async)" class="flex row center_vertical start_horizontal"> 
				<input class="m-1" name="stt_checkboxes" [id]="model.descr" type="checkbox" [checked]="model.descr === 'vosk-small-en'" (click)="onChangeSTTModel($event)"/>
				<p style="width: 25vw;" class="m-1 headerwidth">{{ model.descr }}</p>
			</div>
		</div>
		
		<p class="m-1"></p>
	</div>
	<div class="flex row center_vertical start_horizontal">
		<h4 class="m-1 headerwidth">Install Module:</h4>
		<input class="m-1" disabled [(ngModel)]="projectDataService.installPrivacyDrivenSpeechTransformation" type="checkbox" /><p class="m-1">Privacy-Driven-Speech-Transformation</p>
	</div>
	<div class="flex row center_vertical start_horizontal">
		<h4 class="m-1 headerwidth"></h4>
		<input class="m-1" disabled [(ngModel)]="projectDataService.installPrivacyDrivenTextTransformation" type="checkbox" /><p class="m-1">Privacy-Driven-Text-Transformation</p>
	</div>
	<div class="flex row center_vertical start_horizontal">
		<h4 class="m-1 headerwidth"></h4>
		<input class="m-1" disabled [(ngModel)]="projectDataService.installCloudPlatform" type="checkbox" /><p class="m-1">Cloud Platform</p>
	</div>
	<div class="flex row center_vertical start_horizontal">
		<h4 class="m-1 headerwidth"></h4>
		<input class="m-1" [(ngModel)]="projectDataService.installStt" type="checkbox" /><p class="m-1">Speech-To-Text</p>
	</div>
	<div class="flex row center_vertical start_horizontal">
		<h4 class="m-1 headerwidth"></h4>
		<input class="m-1" [(ngModel)]="projectDataService.installMt" type="checkbox" /><p class="m-1">Machine-Translation</p>
	</div>
	<!--<div class="flex row center_vertical start_horizontal">
		<h4 class="m-1 headerwidth"></h4>
		<input class="m-1" [(ngModel)]="projectDataService.installSlu" type="checkbox" /><p class="m-1">Spoken Language Understanding</p>
	</div>-->
	<div class="flex row center_vertical start_horizontal">
		<h4 class="m-1 headerwidth"></h4>
		<input  class="m-1" [(ngModel)]="projectDataService.installDm" type="checkbox" /><p class="m-1">Dialog Management / Spoken Language Generation</p>
	</div>
	<div class="flex row center_vertical start_horizontal">
		<h4 class="m-1 headerwidth"></h4>
		<input class="m-1" [(ngModel)]="projectDataService.installTts" type="checkbox" /><p class="m-1">Text-To-Speech</p>
	</div>
</div>
